<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Component</title>
    <link rel="stylesheet" href="contact.component.css">
</head>
<body>
    <div class="contact-container">
        <div class="contact-background"></div>
        <div class="overlay">
          <h1>FOLLOW ONLINE DEPARTMENT</h1>
          <div class="social-buttons">
            <button class="social-button" (click)="openLinkedIn()">LINKEDIN</button>
            <button class="social-button" (click)="openFacebook()">FACEBOOK</button>
            <button class="social-button" (click)="openGitHub()">GITHUB</button>
            <button class="social-button" (click)="openZalo()">ZALO</button>
          </div>
        </div>
      </div>
      
</body>
</html>